#loadingScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button {
    background-color: #7fe7f0;
    border: none;
    color: #26526a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}